.infos {
    padding: 80px 0;
    color: whitesmoke;

    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        height: 300px;
        transform: rotate(-5deg);
        border-radius: 20px;

        &--image-rotate-right {
                transform: rotate(10deg);
            }
        }

    &__title {
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 16px;
    }

    &--image-right {
        .container {
            flex-direction: row-reverse;
        }
    }

    &--invite {
        background-image: linear-gradient(#211D1C, #B43B3D);
    }

    &--restaurant {
        background-image: linear-gradient(#B43B3D, #EE873C);
    }

    &--presenca {
        background-image: linear-gradient(#EE873C, #B43B3D);
    }

    &--save-date {
        background-image: linear-gradient(#B43B3D, #211D1C);
    }

    @media (max-width: 640px) {
        padding: 20px 0;
        
        .container {
            display: block;
        }

        &__image {
            transform: rotate(0deg);
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
}